body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#countLabel {
    display: block;
    text-align: center;
    font-size: 50px;
}